html
    head
        link(rel='stylesheet' href='/ex2.css')
    body
        div.container
            header.header
                h1 #{placeholder}
            section.section
                h1 Two
            article.article
                h1 Three
            aside.aside
                h1 Four
            nav.nav
                h1 Five