html
    head
        link(rel='stylesheet' href='/ex3.css')
    body
        div.container
            header
                h1 Header
            section
                ul
                    li Sidebar
            article
                h1 Welcome
                p Hi!
            footer
                h1 Footer